# Ignore any database and large data files in the project data folder
data/**
#sam/*.pth
*.db
*.sqlite
*.csv

# Ignore local model registry
# This should not be ignored given deployment to Cloud via CICD now
model_registry/