fastapi==0.128.0
uvicorn==0.30.6
python-multipart==0.0.9

numpy==2.2.6
opencv-python==4.10.0.84
pillow==10.4.0
tifffile==2024.8.10

matplotlib==3.9.2

git+https://github.com/facebookresearch/segment-anything.git